@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
}
h1 {
    font-size: 36px;
}
h4 {
    font-size: 18px;
}
.app {
    min-width: 360px;
    height: 100%;
    background-color: #fff;
    padding: 20px 36px;
    border-radius: 6px;
    
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 20px 0;
}
.box-setting {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #ccc;

}
hr {
    
    border: none;
    width: 1px;
    height: 28px;
    background: #ccc;
}

.income-expense {
    justify-content: space-around;
    margin-top: 10px;
}
.income-expense p {
    margin-top: 3px;
}
.income p:nth-child(2){
    color: limegreen;
}
.expense p:nth-child(2){
    color: tomato;
}

.transaction {
   justify-content: space-between;
   margin: 10px 0;
}
.form-input {
    flex-direction: column;
    align-items: flex-start;
}
.form-input label {
    font-weight: bold;
}
.form-input input {
    margin: 10px 0;
    
} 
.btn {    
    background: tomato;
    color: #fff;
    margin: 16px 0;
    border: none;
}